<ng-include src="'views/header.html'"></ng-include>

<ng-include src="'views/carousel.html'"></ng-include>

<div class="f-filter">
	<section id="form">
		<form>
			<div class="input-group form-search">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				<input class="form-control" ng-model="search" placeholder="Filtrer par nom d'hôtel">
			</div>
		</form>
	</section>
</div>

<div class="map">
	<ui-gmap-google-map zoom="map.zoom" center="map.center" options="map.options" draggable="true">
		<ui-gmap-marker 
			ng-repeat="hotel in hotels | filter:search"
			coords="hotel.geometry.coordinates"
			click="goTo(hotel.recordid)"
			idKey="hotel.recordid">
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>

<ng-include src="'views/footer.html'"></ng-include>